.about-view {
    margin: 30px auto;
    padding: 30px;
    background-color: white !important;
    max-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 0.05px;
    border-color: lightgrey;
}

.about-image {
    max-height: auto;
    max-width: 30%;
    margin: 0 20px 10px 0;
}

.about-me {
    padding: 0 20px 10px 20px;
}

.about-me h5 {
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
}

.about-text {
    font-size: 16px;
    color: #434242
}

@media screen and (max-width: 850px) {
    .about-view {
        max-width: 580px;
    }
}

@media screen and (max-width: 600px) {
    .about-view {
        max-width: 500px;
    }
    .about-text {
        font-size: 14px;
    }
}