/* Contact CSS All */
.input-form {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

/* Form Input */
.form-control {
    border-radius: 0;
}

/* Form Title */
.form-title {
    color: #434242;
}

/* Button */
.submit-btn {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0;
}

.submit-btn:hover {
    background-color: #2d9790;
    color: white;
}

.submit-btn:focus {
    background-color: #21746e;
    color: white;
}