/* All */
body {
    background-image: url("../Images/ignasi_pattern_s.png");
    position: relative;
    min-height: 100vh;
    margin: 0 0 80px 0;
    padding: 0;
}

/* Navigation */
.navbar {
    padding: 0;
    box-shadow: rgb(82, 81, 81) 0px 0px 4px 0px;
    }

/* Left Side Name Link */
.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    margin-left: 20px;
}
    
.navbar-brand:hover {
    color:rgb(216, 215, 215);
}

.navbar-brand:active {
    color: rgb(185, 185, 185);
}

/* Right Side Lists/ Links */
.nav-link {
    color: rgb(170, 169, 169);
    padding-top: 0px;
    padding-bottom: 0px;
}   

.nav-link:hover {
    color: rgb(102, 102, 102);
}

.nav-link:active {
    color: rgb(70, 70, 70);
}

.active {
    color: black;
}

.dividers {
    border-right: solid;
    border-left: solid;
    border-color: lightgrey;
    border-width: 0.5px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        width: 100vw;
        margin: 0;
        text-align: center;
    }
    .nav {
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
      
/* Main Content */
.content-div {
    margin: 30px auto;
    padding: 30px;
    background-color: white !important;
    max-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 0.05px;
    border-color: lightgrey;
}

.header h5 {
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .content-div {
        max-width: 580px;
    }
}

@media screen and (max-width: 600px) {
    .content-div {
        max-width: 500px;  
    }
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(165, 165, 165) !important;
    width: 100vw;
    border-width: 4px 0 0 0;
    border-style: solid;
    border-color: #4aaaa5;
    color: rgb(165, 165, 165);
    padding: 10px;
}
      
      
      
    
  