.block {
    margin-bottom: 20px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 0px;

}
.card {
    border: white;
    border-radius: 0px;
    margin-right: 20px;
    margin-top: 20px;
    object-fit: scale-down;
}

.card a {
    font-size: 22px;
    color: white;
}

.card-title {
    background-color: #4aaaa5;
    padding: 1em;
    text-align: center;
}