
/* Navigation */
.container {
    width: 70%;
    margin: auto;
}
ul {
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar {
    padding: 0;
    box-shadow: rgb(82, 81, 81) 0px 0px 4px 0px;
    }

/* Left Side Name Link */
.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
}
    
.navbar-brand:hover {
    color:rgb(216, 215, 215);
}

.navbar-brand:active {
    color: rgb(185, 185, 185);
}

/* Right Side Lists/ Links */
.nav-link {
    color: rgb(170, 169, 169);
    padding-top: 0px;
    padding-bottom: 0px;
}   

.nav-link:hover {
    color: rgb(102, 102, 102);
}

.nav-link:active {
    color: rgb(70, 70, 70);
}

.active {
    color: black;
}

.dividers {
    border-right: solid;
    border-left: solid;
    border-color: lightgrey;
    border-width: 0.5px;
}


      
      
      
      
      
      
    
  