/* About Me Page */
.about-image {
    max-height: auto;
    max-width: 30%;
    margin: 0 20px 10px 0;
}

.about-me {
    padding: 0 20px 10px 20px;
}

.about-text {
    font-size: 16px;
    color: #434242
}

/* Portfolio Page */
.block {
    margin-bottom: 20px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 0px;
}

.card {
    border: white;
    border-radius: 0px;
    margin-right: 20px;
    margin-top: 20px;
    object-fit: scale-down;
}

.card a {
    font-size: 22px;
    color: white;
}

.card a:hover {
    color: lightgrey;
    text-decoration: none;
}

.card a:active {
    color: grey;
    text-decoration: none;
}

.card-title {
    background-color: #4aaaa5;
    padding: 1em;
    text-align: center;
}

/* Contact Page */
.input-form {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

/* Form Input */
.form-control {
    border-radius: 0;
}

/* Form Title */
.form-title {
    color: #434242;
}

/* Button */
.submit-btn {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0;
}

.submit-btn:hover {
    background-color: #2d9790;
    color: white;
}

.submit-btn:focus {
    background-color: #21746e;
    color: white;
}

#linkedin,
#github {
    height: 2rem;
    width: 2rem;
    float: right;
    opacity: 0.5;
}

#github {
    margin-right: 10px;
    border-radius: 5px;
}

#github:hover {
    opacity: 0.9;
}
#linkedin:hover {
    opacity: 0.9;
}

#github:active {
    opacity: 1;
}

#github:active {
    opacity: 1;
}